{
  "compact": false,
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.16.1"
        },
        "modules": "umd",
        "useBuiltIns": "entry",
        "corejs": 3,
        "debug": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}