{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "strict"
  ],
  "globals": {
    "PARSER_NAME": true
  },
  "rules": {
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "comma-spacing": 0,
    "class-methods-use-this": 0,
    "eqeqeq": [
      2,
      "allow-null"
    ],
    "id-match": 0,
    "no-var": 2,
    "new-cap": 0,
    "no-param-reassign": 0,
    "key-spacing": [
      2,
      {
        "singleLine": {
          "beforeColon": false,
          "afterColon": true
        },
        "multiLine": {
          "beforeColon": true,
          "afterColon": true,
          "align": "colon"
        }
      }
    ],
    "keyword-spacing": [
      2,
      {
        "overrides": {
          "if": {
            "after": true
          },
          "else": {
            "before": true,
            "after": true
          },
          "for": {
            "after": true
          },
          "while": {
            "after": true
          },
          "catch": {
            "before": true,
            "after": false
          }
        }
      }
    ],
    "complexity": [
      "error",
      35
    ],
    "space-infix-ops": 2,
    "consistent-return": 0,
    "template-curly-spacing": [
      "error",
      "never"
    ],
    "array-bracket-spacing": ["error", "never"],
    "strict": 0,
    "semi": [
      2,
      "never"
    ],
    "max-len": 0,
    "prefer-arrow-callback": 2,
    "arrow-spacing": [
      2,
      {
        "before": true,
        "after": true
      }
    ],
    "arrow-parens": [
      1,
      "as-needed"
    ],
    "camelcase": 0,
    "no-unused-expressions": [
      2,
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "global-require": 1,
    "arrow-body-style": [
      2,
      "as-needed"
    ],
    "newline-per-chained-call": 0,
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "no-mixed-operators": 0,
    "no-eq-null": 0,
    "no-case-declarations": 0,
    "no-console": [
      2,
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-restricted-syntax": [
      0,
      "ForOfStatement"
    ],
    "no-unused-vars": [
      2,
      {
        "argsIgnorePattern": "next|receiver"
      }
    ],
    "import/no-dynamic-require": 1,
    "import/no-cycle": 0,
    "import/prefer-default-export": 0,
    "array-element-newline": 0,
    "no-process-env": 0,
    "default-case": 0
  }
}